<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Pratt - Free Bootstrap 3 Theme">
  <meta name="author" content="Alvarez.is - BlackTie.co">
  <link rel="shortcut icon" href="assets/ico/favicon.png">

  <title>Pizzeria Cubells</title>

  <!-- Bootstrap core CSS -->
  <link href="assets/css/bootstrap.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="assets/css/main.css" rel="stylesheet">

  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/smoothscroll.js"></script>


</head>

<body data-spy="scroll" data-offset="0" data-target="#navigation">

<!-- Fixed navbar -->
<div id="navigation" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><b>Pizzas Cubells</b></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#home" class="smothscroll">Home</a></li>
        <li><a href="/pizzas" class="smothscroll">Pizzas</a></li>
        <li><a href="/logout" class="smothScroll">Logout</a></li>
        <li><a href="/clients" class="smothScroll">Clientes</a></li>
        <li><a href="/orders" class="smothScroll">Orden</a></li>
        <li><a href="#showcase" class="smothScroll">Prueba</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>


<section id="home" name="home"></section>
<div id="headerwrap">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-12">
        <h1>Nuestras <b> Pizzas</b></h1>
        <h3>Todas las pizzas deliciosas que buscas.</h3>
        <br>
      </div>

      <div class="col-lg-2">

        <table>
          <thead>
          <tr>
            <th><font size ="10", font color = "white">Nombre </th>
            <th>  <font size ="10", font color = "white">Precio</th>
            <th colspan="3"></th>
          </tr>
          </thead>

          <tbody link = "blue">
          <% @pizzas.each do |pizza| %>
              <tr>
                <td><font size ="5", font color = "white"><%= pizza.name %> <br></br> </td>
                <td><font size ="5", font color = "white"><%= pizza.price %> <br></br></td>
                <td><button type="button" ><%=  link_to 'Show', pizza %></td>
                
              </tr>
          <% end %>
          </tbody>
        </table>

        <br>
      </div>

    </div>
  </div> <!--/ .container -->
</div><!--/ #headerwrap -->



<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="assets/js/bootstrap.js"></script>
<script>
    $('.carousel').carousel({
        interval: 3500
    })
</script>
</body>
</html>


