<div class="row centered">
  <div class="col-lg-12">
    <h1>Nuestras <b> Pizzas</b></h1>
    <h3>Todas las pizzas deliciosas que buscas.</h3>
    <br>
  </div>
</div>

<div class="col-lg-12" width="100%">
  <table class="table table-responsive">
    <thead>
    <tr>
      <th class="table-header">Nombre </th>
      <th class="table-header">Precio</th>
      <th class="table-header">Ver</th>
      <th class="table-header" colspan="3"></th>
    </tr>
    </thead>
    <tbody>
    <% @pizzas.each do |pizza| %>
        <tr>
          <td class="table-cell"><%= pizza.name %></td>
          <td class="table-cell"><%= price(pizza.price) %></td>
          <td><%=  link_to '', pizza, class: "glyphicon glyphicon-eye-open" %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>




