<section id="home" name="home"></section>
<div id="headerwrap">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-12">
        <br>
        <br>
        <h1>Edita <b>la informacion de clientes</b></h1>
      </div>

      <div class="col-lg-2">
        <p id="notice"><%= notice %></p>
        <%= render 'form' %>

        <%= link_to 'Ver', @client, class:"btn btn-default pull-left" %>
        <%= link_to 'Regresa', clients_path, class:"btn btn-default pull-right" %>
      </div>


    </div>
  </div> <!--/ .container -->
</div><!--/ #headerwrap -->



